





<div class="container ">

<div class="row">

    <div class="col-4">
<div>
    <h3>About Me</h3>
</div>

    </div>
    <div class="col-8">
<div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quisquam numquam eveniet natus, magnam optio itaque minus quod reiciendis perspiciatis! Culpa, eveniet similique totam deleniti doloribus voluptatibus adipisci iste assumenda corporis, a, quod ipsam quae laborum voluptate reiciendis est! Obcaecati, reprehenderit illo?</p>
<a href="http://example.com/files/myfile.pdf" target="_self" download class="btn btn-dark text-white">Download Resume</a>

</div>


    </div>
</div>



</div>